<site-header>
    <a href="/" class="message">
        <span class="ellipsis">
            {{site.description}}
        </span>
    </a>

    <nav>
        <ul class="meta">
            <li>
                <a href="/">
                    About
                </a>
            </li>
        </ul>

        <ul class="core">
            <li class="logo">
                <a href="#" class="toggle-sidebar">
                    <span class="mobile-only">=</span>
                    <span class="desktop-only">Gov.Vote</span>
                </a>
            </li>

            <li class="site-name">
                <a href="/" class="highlight">
                    <span class="ellipsis">
                        {{site.title}}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</site-header>

<site-header-placeholder></site-header-placeholder>
