<article>
    <header style="background: {{issue.color}}">
        <div class="container">
            <h1>
                {{#if issue.issues}}Gov.Vote - {{/if}}
                {{issue.title}}
            </h1>

            <p>{{issue.description}}</p>

            <img src="../../assets/imgs/bg.jpg" class="bg">
        </div>
    </header>

    <content>
        <div class="container">
            {{#if issue.content}}
                <div class="md">
                    {{(issue.content)}}
                </div>
            {{/if}}

            {{#if @any(issue.stances)}}
                {{#if stance}}
                    {{>stance}}
                {{else}}
                    {{>stances}}
                {{/if}}
            {{/if}}

            <ul class="issues">
                {{#if issue.issues}}
                    {{>issues prefix=prefix issue=issue colored=true}}
                {{/if}}
            </ul>

            <a class="notice-2">
                Have something to say?<br>
                Visit us on GitHub.
            </a>
        </div>
    </content>
</article>
