<stance>
    <!-- <p class="notice">
        <a href="#{{prefix}}/{{issue.permalink}}">
            &laquo; Review other stances on this issue
        </a>
    </p> -->

    <h1>
        <span class="dot"></span>
        <a href="#{{prefix}}/{{issue.permalink}}/{{stance.permalink}}">
            {{stance.title}}
        </a>
    </h1>

    <stance-content>
        <p>
            {{stance.description}}
        </p>
    </stance-content>

    <p class="notice-3">
        <a href="#{{prefix}}/{{issue.permalink}}">
            &laquo; Review other stances on this issue
        </a>
    </p>
</stance>
